<includeonly>
    <div style="height:300px; padding-right:0;">
        <div style="width:47%; float:left; height:260px; border: solid 1px; border-radius:10px; margin: 10px 0 0 10px; box-shadow: 0 0 10px #808080; background-color: #e6e6e6;">
     Mana Curve
            <div id="mdw-manacurve-chart">{{NoChartsText}}</div>
        </div>
        <div style="width:47%; float:left; height:260px; border: solid 1px; border-radius:10px; margin: 10px 10px 0 10px; box-shadow: 0 0 10px #808080; background-color: #e6e6e6; position:absolute; right:0;">
     Color Distribution
            <div id="mdw-cardsbycolor-chart">{{NoChartsText}}</div>
        </div>
    </div>
    {{Clear}}
    <div style="width:100%; float:left; border: solid 1px; border-radius:10px; margin: 0 10px 10px 10px; box-shadow: 0 0 10px #808080; background-color: #e6e6e6;">
    Card Type Distribution
        <div id="mdw-types-chart">{{NoChartsText}}</div>
    </div>
    {{Clear}}
</includeonly>
<noinclude>{{documentation}}[[Category:Data templates]]</noinclude>
